/idea/*
/temp/*
idea/*
temp/*
temp/
idea/
build/
*.patch
.idea/
.log
.DS_Store
*.orig
*.rej
/config/*
cscope*
*.exe
**/*.log
**/*.txt
glide.lock
*.iml
*.test/
*.pb.go
*.pyc
./ecoball.toml
/eballscan/build/*

#docker
docker/cockroach
docker/eballscan
docker/eballscan_service.sh
docker/ecoball
docker/ecoball_log/
docker/ecowallet
docker/restart.sh
docker/run.sh
docker/run.sh.bak
docker/shard_setup.toml
docker/tools/
test/p2p/ecoball.toml
test/p2p/main
test/p2p/shard2/

docker/wallet
